In [1]:
import pandas as pd
import json

with open('e7/my_units.txt', 'r') as p: my_units = [unit.rstrip() for unit in p.readlines()]
with open('e7/base_stats.json') as p: base = json.loads(p.read())
data = pd.read_csv("e7/TheHolyGrail.csv")
data = data.rename(columns = {'Unnamed: 0':'name','Unnamed: 1':'skill'})
data[['name']] = data[['name']].fillna(method='ffill') # Fill name into blanks
data = data.fillna(0) # Fill empty

for i, row in data.iterrows():
    name = row['name']
    n = row['skill'][-1]
    if name in base.keys() and n.isdigit():
        # Check for creation of skills dict
        if 'skills' not in base[name].keys(): base[name]['skills'] = {'1':{},'2':{},'3':{}}
        
        base[name]['skills'][n]['targets'] = row['targets']
        
        # Check for stacking skills, then set mult
        if '/' not in str(row['att_rate']): base[name]['skills'][n]['mult'] = float(row['att_rate'])
        else: base[name]['skills'][n]['mult'] = float(row['att_rate'].split('/')[0])
        
        # Check for special scaling, ignoring scaling based off of missing HP
        if row['secondary_stat'] != 0 and 'missing' not in row['secondary_stat']:
            base[name]['skills'][n]['scaling'] = row['secondary_stat']
            base[name]['skills'][n]['scaling_mult'] = row['secondary_scaling%']

In [2]:
# Assumptions
gear = {'atk_flat': 300, 'atk': 2, 'crit': 0.5, 'cd': 0.3, 'spd_flat': 40, 'spd':1.25, 'hp_flat': 1200, 'hp':2, 'def': 100}
target_hp = 10000
target_def = 800

# Calculate Damage
results = {}
for name in base:
    for n in base[name]['skills'].keys():
        if base[name]['skills'][n]['targets'] == 4: # <= for ST, == for AoE
            # Basic damage calc
            damage = (base[name]['Awake']['Attack']*gear['atk']+gear['atk_flat'])*base[name]['skills'][n]['mult']
            # Special scaling
            if 'scaling' in base[name]['skills'][n].keys():
                if name in ['Ken','Cecilia','Zeno','Dark Corvus'] and 'hp' in base[name]['skills'][n]['scaling'] and 'target' not in base[name]['skills'][n]['scaling']:
                    damage = (base[name]['Awake']['Attack']+gear['atk_flat'])*base[name]['skills'][n]['mult']
                    damage += (base[name]['Awake']['Health']*gear['hp']+gear['hp_flat'])*base[name]['skills'][n]['scaling_mult']
                elif 'hp' in base[name]['skills'][n]['scaling'] and 'target' not in base[name]['skills'][n]['scaling']: damage += (base[name]['Awake']['Health']+gear['hp_flat'])*base[name]['skills'][n]['scaling_mult']
                elif base[name]['skills'][n]['scaling'] == 'def': damage += (base[name]['Awake']['Defense']+gear['def'])*base[name]['skills'][n]['scaling_mult']
                elif 'speed' in base[name]['skills'][n]['scaling']:
                    spd = (base[name]['Awake']['Speed']*gear['spd'])+gear['spd_flat']
                    damage *= 1+spd*base[name]['skills'][n]['scaling_mult']
                    if name == 'Assassin Cidd':
                        damage *= 1+spd*1.5*base[name]['skills'][n]['scaling_mult']
                        if n == '3': damage += 180*0.003
                    #if name == 'Vildred': print(name,spd,'spd')
                elif base[name]['skills'][n]['scaling'] == 'target max hp': damage += target_hp*base[name]['skills'][n]['scaling_mult']
                else: print(name,n,base[name]['skills'][n]['scaling'])
                spec_scaling = base[name]['skills'][n]['scaling'].title().replace('Hp','HP')
                if name == 'Zeno': spec_scaling = 'Max HP'
            else: spec_scaling = 'None'

            # Gunther cannot crit, everyone else can
            if 'gunther' not in name.lower(): damage *= 1+(base[name]['Awake']['Critical Hit Chance']+gear['crit'])*(base[name]['Awake']['Critical Hit Damage']+gear['cd']-1)

            # Reduce damage by DEF unless def ignore
            reduced = round(damage/(1+target_def/300),1)
            if n == '3' and name.lower() == 'ludwig':
                reduced = round(damage/(1+(target_def*0.5)/300),1)
                spec_scaling = 'Ignore Def'
            if n == '3' and name.lower() == 'watcher schuri':
                reduced = round(damage,1)
                spec_scaling = 'Ignore Def'
            if n == '2' and name.lower() == 'kise':
                reduced = round(damage/(1+(target_def*0.4)/300),1)
                spec_scaling = 'Ignore Def'

            results[len(results)+1] = {'Name':name, 'Damage':reduced, 'Skill':n, 'Mult': round(base[name]['skills'][n]['mult'],2), 'Scaling':spec_scaling}
            base[name]['skills'][n]['damage'] = reduced
with open('e7/full.json', 'w') as fp: json.dump(base, fp)

In [3]:
sort = 'Damage'
display = pd.DataFrame.from_dict(results, orient='index').sort_values(by=sort,ascending=False).reset_index(drop=True)
display.index = display.index + 1
display[display['Damage'] > 0]

                    Name  Damage Skill  Mult        Scaling
1                   Kise  3254.7     2  1.50     Ignore Def
2                 Ludwig  3074.6     3  1.51     Ignore Def
3               Tenebria  2535.5     3  1.96           None
4                   Yuna  2511.7     3  2.25           None
5                Vildred  2454.0     3  1.59          Speed
6             Judge Kise  2221.5     3  2.15           None
7     Martial Artist Ken  2173.3     3  1.68           None
8     Celestial Mercedes  2109.4     2  1.52  Target Max HP
9                  Haste  2013.0     3  1.87           None
10               Cecilia  1984.3     3  1.18         Max HP
11                  Ravi  1973.5     3  2.13           None
12     Blood Blade Karin  1958.0     3  1.78           None
13                Schuri  1949.1     3  1.87           None
14                 Adlay  1931.8     3  1.87           None
15              Tenebria  1931.8     2  1.50           None
16                  Silk  1852.4     3  1.67           None
17                 Basar  1842.0     3  1.52           None
18              Clarissa  1794.8     3  1.50           None
19              Mercedes  1786.3     3  1.50           None
20    Celestial Mercedes  1786.3     3  1.50           None
21             Aramintha  1776.1     3  1.59           None
22            Judge Kise  1738.6     2  1.68           None
23                 Basar  1705.6     2  1.40           None
24               Bellona  1701.6     3  1.78           None
25          Baal & Sezan  1671.6     3  1.50           None
26                Hurado  1626.8     3  1.68           None
27                  Zeno  1620.0     3  0.94         Max HP
28          Baal & Sezan  1598.5     2  1.43           None
29                  Jena  1591.4     3  1.51           None
30               Purrgis  1574.8     3  1.50           None
..                   ...     ...   ...   ...            ...
32  Church of Ilryos Axe  1573.7     2  1.42           None
33        Auxiliary Lots  1567.9     3  1.50           None
34       Arbiter Vildred  1559.3     3  1.27           None
35            Gloomyrain  1511.1     3  1.31           None
36                Romann  1494.0     3  1.43           None
37                Zerato  1488.7     3  1.31           None
38                   Ras  1485.5     3  1.68         Max HP
39             Aramintha  1462.7     2  1.31           None
40                 Dingo  1438.8     2  1.50           None
41              Mercedes  1406.7     2  1.18           None
42                Yufine  1377.0     2  1.12           None
43                Romann  1367.1     2  1.31           None
44               Bellona  1357.4     2  1.42           None
45             Charlotte  1317.8     3  1.20           None
46       General Purrgis  1306.8     3  1.50           None
47                 Tywin  1301.2     3  0.89         Max HP
48               Celeste  1280.4     2  1.43           None
49              Dominiel  1223.5     3  1.33           None
50                  Sven  1217.7     3  1.20           None
51                 Jecht  1188.6     3  1.52           None
52               Cartuja  1120.7     3  0.94         Max HP
53                 Kiris  1093.5     2  1.31           None
54           Shadow Rose  1080.4     3  1.20           None
55               Cecilia  1032.2     2  0.75         Max HP
56               Rikoris  1024.7     3  1.12           None
57                Crozet  1023.3     3  0.89            Def
58                  Yuna  1004.7     1  0.90           None
59            Kikirat v2   836.2     3  0.75            Def
60                Corvus   797.7     2  0.51            Def
61                 Elson   674.3     2  1.18           None

[61 rows x 5 columns]

In [4]:
display[display['Name'] == 'Chaos Sect Axe']

              Name  Damage Skill  Mult Scaling
31  Chaos Sect Axe  1573.7     2  1.42    None